body{
    margin: 0px auto;
}
.intbox{
    width: 180px;
    height: 30px;
    margin: 12px 500px;
}

.btn{
    margin: 12px 500px;
}

#send{
   width: 60px;
}

#signin{
    width: 60px;
    margin-left: 15px;
}
#register{
    margin: 12px 500px;
}
